.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 40px auto;
    padding-bottom: 40px;
}    

.button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .button-style-main();
        // width: ;
    }