#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 40px auto;
    padding-bottom: 20px;
    
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            margin-top: 80px;
            border-bottom: 2px solid @orange;
        }
        
        p {
            margin: 20px auto;
            text-align: center;
        }
    }

    #example {
        margin-top: 80px;
        text-align: center;
        border-bottom: 2px solid @orange;
        margin-bottom: 25px;
        padding-bottom: 40px;
    }

    .examples{
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media @desktop {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @media @tablet {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .drone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 25px auto;
        padding-bottom: 40px;

        @media @tablet {
            width: 40%;
        }

        @media @desktop {
            width: 25%;
            margin: 25px;
        }

        img {
            border-radius: 10px;
            margin-bottom: 20px;
        }

        ul {
            display: flex;
            justify-content: space-evenly;
            text-align: center;

            margin: 15px;

            li {
                margin: auto 8px;
            }
        }


    }

    .button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
        background-color: #f28818;
        font-weight: 700;
        color: white;
        padding: 15px 40px;
        border-radius: 5px;
        text-decoration: none;
        max-width: 80%;
        max-height: 15%
    }
}    



