.button-style-main() {
  font-size: 20px;
  text-align: center;
  background-color: @orange;
  font-weight: 700;
  color: white;
  padding: 15px 40px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  border: 1px solid white;
  @media @desktop {
    padding: 20px 70px;
    margin-right: 10px;
  }
  &:hover {
    transition: all 0.3s ease 0s;
    border-radius: 18px;
  }
}

.button-style-secondary() {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: @main-bg;
  padding: 15px 40px;
  border-radius: 5px;
  border: 1px solid @main-bg;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  @media @desktop {
    padding: 20px 70px;
    margin-right: 10px;
  }
  &:hover {
    background-color: @orange;
    transition: all 0.3s ease 0s;
    color: white;
    border-radius: 18px;
    border: 1px solid white;
  }
}
