.alt {
    display: flex;
    flex-direction: column;
    p {
        text-align: right;
        width: 85%;
        color: @title-text;
        font-size: 18px;
        line-height: 1.8rem;
    }
    .logo {
        display: flex;
        justify-content: center;
        margin-top: 80px;
        align-items: center;
        width: 100%;
        img {
        width: 60px;
        margin-right: 10px;
        }
        h1 {
        color: @title-text;
        font-weight: 900;
        font-size: 64px;
        }
        .orgtitle {
        color: @orange;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 40px auto;
    padding-bottom: 40px;
    .major {
        text-align: center;
        margin-top: 40px;
        font-size: 30px;
    }
    img {
        width: 200px;
        justify-content: center;
        margin: 0 auto;
    }
    .button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .button-style-main();
    }
    .button-secondary {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .button-style-secondary();
    }
}

#one {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 40px auto;
    padding-bottom: 40px;

    // padding: 25px;

    h2, h3, p {
        text-align: center;
    }

    h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .member {
        margin-top: 25px;
        margin-bottom: 25px;
        border-top: solid silver 1.4px;
        padding: 25px;
    }
}